.header {
    background-color: #282c34;
    padding: 20px 0;
    text-align: center;
  }
  
  .header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between nav items */
  }
  
  .header nav ul li {
    font-size: 1rem;
  }
  
  .header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .header nav ul li a:hover {
    background-color: #3b4048;
    color: #e0e0e0;
  }
  



.header a:hover {
    text-decoration: underline;
    color: #61dafb;
}