
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #61dafb;
    color: white;
    text-align: center;
    
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
}



.button {
    background-color: #282c34;
    border: none;
    padding: 12px 24px;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 8px; /* Rounded corners for a softer look */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth hover effects */
  }
  
  .button:hover {
    background-color: #3b4048; /* Slightly lighter for hover effect */
    transform: translateY(-2px); /* Gives a subtle elevation */
  }
  
  .button:active {
    transform: translateY(1px); /* Slight "pressed" effect */
  }
  